--
-- PostgreSQL database dump
--

\restrict 41pjMoSiEf7WguuUlUrbJMb280RzzYMtRv8960yf2fn1xGvvZRgHwQZnLF9xZUP

-- Dumped from database version 17.5 (aa1f746)
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_user; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.account_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    role character varying(20) NOT NULL,
    user_id character varying(20) NOT NULL,
    full_name character varying(222) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    gender character varying(10),
    date_of_birth date,
    nationality character varying(30)
);


ALTER TABLE public.account_user OWNER TO neondb_owner;

--
-- Name: account_user_groups; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.account_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.account_user_groups OWNER TO neondb_owner;

--
-- Name: account_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.account_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_user_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.account_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_user_user_permissions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.account_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.account_user_user_permissions OWNER TO neondb_owner;

--
-- Name: account_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.account_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO neondb_owner;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO neondb_owner;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO neondb_owner;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO neondb_owner;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO neondb_owner;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO neondb_owner;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO neondb_owner;

--
-- Name: familyfees_family; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.familyfees_family (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.familyfees_family OWNER TO neondb_owner;

--
-- Name: familyfees_family_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.familyfees_family ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.familyfees_family_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: familyfees_family_members; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.familyfees_family_members (
    id bigint NOT NULL,
    family_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.familyfees_family_members OWNER TO neondb_owner;

--
-- Name: familyfees_family_members_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.familyfees_family_members ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.familyfees_family_members_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: familyfees_familyfeerecord; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.familyfees_familyfeerecord (
    id bigint NOT NULL,
    amount_to_pay numeric(10,2) NOT NULL,
    amount_paid numeric(10,2) NOT NULL,
    balance numeric(10,2) NOT NULL,
    academic_year_id bigint NOT NULL,
    family_id bigint NOT NULL,
    term_id bigint NOT NULL,
    date_created timestamp with time zone NOT NULL,
    is_fully_paid boolean NOT NULL
);


ALTER TABLE public.familyfees_familyfeerecord OWNER TO neondb_owner;

--
-- Name: familyfees_familyfeerecord_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.familyfees_familyfeerecord ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.familyfees_familyfeerecord_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: familyfees_familypayment; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.familyfees_familypayment (
    id bigint NOT NULL,
    date date NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_method character varying(50),
    family_fee_record_id bigint NOT NULL
);


ALTER TABLE public.familyfees_familypayment OWNER TO neondb_owner;

--
-- Name: familyfees_familypayment_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.familyfees_familypayment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.familyfees_familypayment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fees_feestructure; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.fees_feestructure (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    academic_year_id bigint NOT NULL,
    grade_class_id bigint NOT NULL,
    term_id bigint NOT NULL
);


ALTER TABLE public.fees_feestructure OWNER TO neondb_owner;

--
-- Name: fees_feestructure_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.fees_feestructure ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fees_feestructure_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fees_payment; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.fees_payment (
    id bigint NOT NULL,
    date date NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_method character varying(50),
    student_fee_record_id bigint NOT NULL
);


ALTER TABLE public.fees_payment OWNER TO neondb_owner;

--
-- Name: fees_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.fees_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fees_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fees_studentfeerecord; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.fees_studentfeerecord (
    id bigint NOT NULL,
    amount_paid numeric(10,2) NOT NULL,
    balance numeric(10,2) NOT NULL,
    is_fully_paid boolean NOT NULL,
    fee_structure_id bigint NOT NULL,
    student_id bigint NOT NULL,
    date_created timestamp with time zone NOT NULL
);


ALTER TABLE public.fees_studentfeerecord OWNER TO neondb_owner;

--
-- Name: fees_studentfeerecord_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.fees_studentfeerecord ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fees_studentfeerecord_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: principal_principalprofile; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.principal_principalprofile (
    id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.principal_principalprofile OWNER TO neondb_owner;

--
-- Name: principal_principalprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.principal_principalprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.principal_principalprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: staff_staffprofile; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.staff_staffprofile (
    id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.staff_staffprofile OWNER TO neondb_owner;

--
-- Name: staff_staffprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.staff_staffprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.staff_staffprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: student_academicyear; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.student_academicyear (
    id bigint NOT NULL,
    name character varying(20) NOT NULL
);


ALTER TABLE public.student_academicyear OWNER TO neondb_owner;

--
-- Name: student_academicyear_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.student_academicyear ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.student_academicyear_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: student_gradeclass; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.student_gradeclass (
    id bigint NOT NULL,
    name character varying(40) NOT NULL,
    staff_id bigint
);


ALTER TABLE public.student_gradeclass OWNER TO neondb_owner;

--
-- Name: student_gradeclass_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.student_gradeclass ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.student_gradeclass_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: student_studentprofile; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.student_studentprofile (
    id bigint NOT NULL,
    last_school_attended character varying(255),
    class_seeking_admission_to character varying(20),
    is_immunized character varying(200),
    has_allergies character varying(10),
    allergic_foods character varying(300),
    has_peculiar_health_issues character varying(10),
    health_issues character varying(150),
    other_related_info text,
    name_of_father character varying(100),
    name_of_mother character varying(100),
    occupation_of_father character varying(100),
    occupation_of_mother character varying(100),
    nationality_of_father character varying(100),
    nationality_of_mother character varying(100),
    contact_of_father character varying(100),
    contact_of_mother character varying(100),
    house_number character varying(100),
    user_id bigint NOT NULL,
    current_class smallint NOT NULL,
    CONSTRAINT student_studentprofile_current_class_check CHECK ((current_class >= 0))
);


ALTER TABLE public.student_studentprofile OWNER TO neondb_owner;

--
-- Name: student_studentprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.student_studentprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.student_studentprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: student_studentsubjectrecord; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.student_studentsubjectrecord (
    id bigint NOT NULL,
    class_score double precision NOT NULL,
    exam_score double precision NOT NULL,
    total_score double precision,
    grade character varying(2),
    student_term_record_id bigint NOT NULL,
    subject_id bigint NOT NULL
);


ALTER TABLE public.student_studentsubjectrecord OWNER TO neondb_owner;

--
-- Name: student_studentsubjectrecord_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.student_studentsubjectrecord ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.student_studentsubjectrecord_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: student_studenttermrecord; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.student_studenttermrecord (
    id bigint NOT NULL,
    attendance integer NOT NULL,
    comments text,
    grade_class_id bigint,
    student_id bigint NOT NULL,
    term_id bigint NOT NULL
);


ALTER TABLE public.student_studenttermrecord OWNER TO neondb_owner;

--
-- Name: student_studenttermrecord_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.student_studenttermrecord ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.student_studenttermrecord_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: student_subject; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.student_subject (
    id bigint NOT NULL,
    name character varying(20) NOT NULL
);


ALTER TABLE public.student_subject OWNER TO neondb_owner;

--
-- Name: student_subject_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.student_subject ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.student_subject_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: student_term; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.student_term (
    id bigint NOT NULL,
    name character varying(20) NOT NULL,
    academic_year_id bigint NOT NULL
);


ALTER TABLE public.student_term OWNER TO neondb_owner;

--
-- Name: student_term_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.student_term ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.student_term_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: account_user; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: account_user_groups; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.account_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: account_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.account_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	account	user
7	student	academicyear
8	student	subject
9	student	gradeclass
10	student	studentprofile
11	student	studenttermrecord
12	student	studentsubjectrecord
13	student	term
14	staff	staffprofile
15	principal	principalprofile
16	fees	feestructure
17	fees	studentfeerecord
18	fees	payment
19	familyfees	family
20	familyfees	familyfeerecord
21	familyfees	familypayment
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: familyfees_family; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.familyfees_family (id, name) FROM stdin;
1	Dadzie Family
3	Ampofo Family
4	Bruno Family
5	Donatella Family
6	Mintah Family
7	Arkoh Family
2	Mensah Family
8	George Yeboah Family
9	Larbi Family
10	Nyamekye Welder
11	Afowa family
12	Cailo Family
13	Meshack Ofosu Family
14	Ganyo Family
15	Sikapa family
\.


--
-- Data for Name: familyfees_family_members; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.familyfees_family_members (id, family_id, user_id) FROM stdin;
1	1	97
2	1	147
3	2	145
4	2	146
5	3	104
6	3	75
7	4	124
8	4	125
9	4	126
10	5	156
11	5	158
12	6	168
13	6	93
14	6	94
15	7	112
16	7	169
17	8	170
18	8	171
19	8	159
20	9	172
21	9	173
22	9	174
23	10	178
24	10	179
25	10	180
26	11	128
27	11	121
28	12	100
29	12	191
30	13	101
31	13	95
32	14	114
33	14	115
34	14	111
35	15	194
36	15	164
\.


--
-- Data for Name: familyfees_familyfeerecord; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: familyfees_familypayment; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: fees_feestructure; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.fees_feestructure (id, amount, academic_year_id, grade_class_id, term_id) FROM stdin;
3	380.00	1	1	1
4	340.00	1	2	1
5	340.00	1	3	1
6	330.00	1	4	1
7	330.00	1	5	1
8	350.00	1	6	1
12	350.00	1	8	1
13	350.00	1	9	1
15	350.00	1	11	1
16	350.00	1	10	1
17	165.00	1	4	1
18	350.00	1	7	1
\.


--
-- Data for Name: fees_payment; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: fees_studentfeerecord; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: principal_principalprofile; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.principal_principalprofile (id, user_id) FROM stdin;
\.


--
-- Data for Name: staff_staffprofile; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.staff_staffprofile (id, user_id) FROM stdin;
1	1
2	98
3	190
\.


--
-- Data for Name: student_academicyear; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.student_academicyear (id, name) FROM stdin;
1	2025/2026
\.


--
-- Data for Name: student_gradeclass; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.student_gradeclass (id, name, staff_id) FROM stdin;
1	creche	2
2	nursery 1	2
3	nursery 2	2
4	kg 1	2
5	kg 2	2
6	class 1	2
7	class 2	2
8	class 3	2
9	class 4	2
10	class 5	2
11	class 6	2
12	jhs 1	2
13	jhs 2	2
14	jhs 3	2
\.


--
-- Data for Name: student_studentprofile; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: student_studentsubjectrecord; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.student_studentsubjectrecord (id, class_score, exam_score, total_score, grade, student_term_record_id, subject_id) FROM stdin;
\.


--
-- Data for Name: student_studenttermrecord; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.student_studenttermrecord (id, attendance, comments, grade_class_id, student_id, term_id) FROM stdin;
2	0		1	70	1
3	0		1	69	1
4	0		1	71	1
5	0		1	68	1
6	0		1	81	1
7	0		2	67	1
8	0		3	76	1
9	0		5	83	1
10	0		8	75	1
11	0		9	78	1
12	0		9	80	1
13	0		11	88	1
14	0		4	101	1
15	0		6	100	1
16	0		2	106	1
65	0		3	104	1
66	0		2	111	1
67	0		5	129	1
68	0		4	84	1
69	0		5	128	1
70	0		11	146	1
71	0		10	139	1
72	0		8	115	1
73	0		8	114	1
74	0		5	103	1
75	0		4	136	1
76	0		4	133	1
\.


--
-- Data for Name: student_subject; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.student_subject (id, name) FROM stdin;
\.


--
-- Data for Name: student_term; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.student_term (id, name, academic_year_id) FROM stdin;
1	1st Term	1
\.


--
-- Name: account_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.account_user_groups_id_seq', 1, false);


--
-- Name: account_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.account_user_id_seq', 194, true);


--
-- Name: account_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.account_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 84, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 359, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 21, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 37, true);


--
-- Name: familyfees_family_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.familyfees_family_id_seq', 15, true);


--
-- Name: familyfees_family_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.familyfees_family_members_id_seq', 36, true);


--
-- Name: familyfees_familyfeerecord_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.familyfees_familyfeerecord_id_seq', 17, true);


--
-- Name: familyfees_familypayment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.familyfees_familypayment_id_seq', 28, true);


--
-- Name: fees_feestructure_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.fees_feestructure_id_seq', 18, true);


--
-- Name: fees_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.fees_payment_id_seq', 109, true);


--
-- Name: fees_studentfeerecord_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.fees_studentfeerecord_id_seq', 77, true);


--
-- Name: principal_principalprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.principal_principalprofile_id_seq', 1, false);


--
-- Name: staff_staffprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.staff_staffprofile_id_seq', 3, true);


--
-- Name: student_academicyear_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.student_academicyear_id_seq', 3, true);


--
-- Name: student_gradeclass_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.student_gradeclass_id_seq', 14, true);


--
-- Name: student_studentprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.student_studentprofile_id_seq', 199, true);


--
-- Name: student_studentsubjectrecord_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.student_studentsubjectrecord_id_seq', 1, false);


--
-- Name: student_studenttermrecord_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.student_studenttermrecord_id_seq', 76, true);


--
-- Name: student_subject_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.student_subject_id_seq', 1, false);


--
-- Name: student_term_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.student_term_id_seq', 4, true);


--
-- Name: account_user_groups account_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_user_groups
    ADD CONSTRAINT account_user_groups_pkey PRIMARY KEY (id);


--
-- Name: account_user_groups account_user_groups_user_id_group_id_4d09af3e_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_user_groups
    ADD CONSTRAINT account_user_groups_user_id_group_id_4d09af3e_uniq UNIQUE (user_id, group_id);


--
-- Name: account_user account_user_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_user
    ADD CONSTRAINT account_user_pkey PRIMARY KEY (id);


--
-- Name: account_user account_user_user_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_user
    ADD CONSTRAINT account_user_user_id_key UNIQUE (user_id);


--
-- Name: account_user_user_permissions account_user_user_permis_user_id_permission_id_48bdd28b_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_user_user_permissions
    ADD CONSTRAINT account_user_user_permis_user_id_permission_id_48bdd28b_uniq UNIQUE (user_id, permission_id);


--
-- Name: account_user_user_permissions account_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_user_user_permissions
    ADD CONSTRAINT account_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: familyfees_family_members familyfees_family_members_family_id_user_id_fe1f78f8_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_family_members
    ADD CONSTRAINT familyfees_family_members_family_id_user_id_fe1f78f8_uniq UNIQUE (family_id, user_id);


--
-- Name: familyfees_family_members familyfees_family_members_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_family_members
    ADD CONSTRAINT familyfees_family_members_pkey PRIMARY KEY (id);


--
-- Name: familyfees_family familyfees_family_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_family
    ADD CONSTRAINT familyfees_family_name_key UNIQUE (name);


--
-- Name: familyfees_family familyfees_family_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_family
    ADD CONSTRAINT familyfees_family_pkey PRIMARY KEY (id);


--
-- Name: familyfees_familyfeerecord familyfees_familyfeereco_family_id_term_id_academ_703d8806_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_familyfeerecord
    ADD CONSTRAINT familyfees_familyfeereco_family_id_term_id_academ_703d8806_uniq UNIQUE (family_id, term_id, academic_year_id);


--
-- Name: familyfees_familyfeerecord familyfees_familyfeerecord_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_familyfeerecord
    ADD CONSTRAINT familyfees_familyfeerecord_pkey PRIMARY KEY (id);


--
-- Name: familyfees_familypayment familyfees_familypayment_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_familypayment
    ADD CONSTRAINT familyfees_familypayment_pkey PRIMARY KEY (id);


--
-- Name: fees_feestructure fees_feestructure_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees_feestructure
    ADD CONSTRAINT fees_feestructure_pkey PRIMARY KEY (id);


--
-- Name: fees_payment fees_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees_payment
    ADD CONSTRAINT fees_payment_pkey PRIMARY KEY (id);


--
-- Name: fees_studentfeerecord fees_studentfeerecord_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees_studentfeerecord
    ADD CONSTRAINT fees_studentfeerecord_pkey PRIMARY KEY (id);


--
-- Name: fees_studentfeerecord fees_studentfeerecord_student_id_fee_structure_id_f0734910_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees_studentfeerecord
    ADD CONSTRAINT fees_studentfeerecord_student_id_fee_structure_id_f0734910_uniq UNIQUE (student_id, fee_structure_id);


--
-- Name: principal_principalprofile principal_principalprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.principal_principalprofile
    ADD CONSTRAINT principal_principalprofile_pkey PRIMARY KEY (id);


--
-- Name: principal_principalprofile principal_principalprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.principal_principalprofile
    ADD CONSTRAINT principal_principalprofile_user_id_key UNIQUE (user_id);


--
-- Name: staff_staffprofile staff_staffprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.staff_staffprofile
    ADD CONSTRAINT staff_staffprofile_pkey PRIMARY KEY (id);


--
-- Name: staff_staffprofile staff_staffprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.staff_staffprofile
    ADD CONSTRAINT staff_staffprofile_user_id_key UNIQUE (user_id);


--
-- Name: student_academicyear student_academicyear_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_academicyear
    ADD CONSTRAINT student_academicyear_name_key UNIQUE (name);


--
-- Name: student_academicyear student_academicyear_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_academicyear
    ADD CONSTRAINT student_academicyear_pkey PRIMARY KEY (id);


--
-- Name: student_gradeclass student_gradeclass_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_gradeclass
    ADD CONSTRAINT student_gradeclass_pkey PRIMARY KEY (id);


--
-- Name: student_studentprofile student_studentprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_studentprofile
    ADD CONSTRAINT student_studentprofile_pkey PRIMARY KEY (id);


--
-- Name: student_studentprofile student_studentprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_studentprofile
    ADD CONSTRAINT student_studentprofile_user_id_key UNIQUE (user_id);


--
-- Name: student_studentsubjectrecord student_studentsubjectrecord_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_studentsubjectrecord
    ADD CONSTRAINT student_studentsubjectrecord_pkey PRIMARY KEY (id);


--
-- Name: student_studenttermrecord student_studenttermrecord_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_studenttermrecord
    ADD CONSTRAINT student_studenttermrecord_pkey PRIMARY KEY (id);


--
-- Name: student_studenttermrecord student_studenttermrecord_student_id_term_id_c1204914_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_studenttermrecord
    ADD CONSTRAINT student_studenttermrecord_student_id_term_id_c1204914_uniq UNIQUE (student_id, term_id);


--
-- Name: student_subject student_subject_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_subject
    ADD CONSTRAINT student_subject_pkey PRIMARY KEY (id);


--
-- Name: student_term student_term_name_academic_year_id_1d13343c_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_term
    ADD CONSTRAINT student_term_name_academic_year_id_1d13343c_uniq UNIQUE (name, academic_year_id);


--
-- Name: student_term student_term_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_term
    ADD CONSTRAINT student_term_pkey PRIMARY KEY (id);


--
-- Name: account_user_groups_group_id_6c71f749; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_user_groups_group_id_6c71f749 ON public.account_user_groups USING btree (group_id);


--
-- Name: account_user_groups_user_id_14345e7b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_user_groups_user_id_14345e7b ON public.account_user_groups USING btree (user_id);


--
-- Name: account_user_user_id_673deb05_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_user_user_id_673deb05_like ON public.account_user USING btree (user_id varchar_pattern_ops);


--
-- Name: account_user_user_permissions_permission_id_66c44191; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_user_user_permissions_permission_id_66c44191 ON public.account_user_user_permissions USING btree (permission_id);


--
-- Name: account_user_user_permissions_user_id_cc42d270; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_user_user_permissions_user_id_cc42d270 ON public.account_user_user_permissions USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: familyfees_family_members_family_id_52091cdf; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX familyfees_family_members_family_id_52091cdf ON public.familyfees_family_members USING btree (family_id);


--
-- Name: familyfees_family_members_user_id_034dcbc4; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX familyfees_family_members_user_id_034dcbc4 ON public.familyfees_family_members USING btree (user_id);


--
-- Name: familyfees_family_name_e0505e83_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX familyfees_family_name_e0505e83_like ON public.familyfees_family USING btree (name varchar_pattern_ops);


--
-- Name: familyfees_familyfeerecord_academic_year_id_c08f0951; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX familyfees_familyfeerecord_academic_year_id_c08f0951 ON public.familyfees_familyfeerecord USING btree (academic_year_id);


--
-- Name: familyfees_familyfeerecord_family_id_8bbe78ee; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX familyfees_familyfeerecord_family_id_8bbe78ee ON public.familyfees_familyfeerecord USING btree (family_id);


--
-- Name: familyfees_familyfeerecord_term_id_4a0e76af; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX familyfees_familyfeerecord_term_id_4a0e76af ON public.familyfees_familyfeerecord USING btree (term_id);


--
-- Name: familyfees_familypayment_family_fee_record_id_5a291847; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX familyfees_familypayment_family_fee_record_id_5a291847 ON public.familyfees_familypayment USING btree (family_fee_record_id);


--
-- Name: fees_feestructure_academic_year_id_730f45dc; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX fees_feestructure_academic_year_id_730f45dc ON public.fees_feestructure USING btree (academic_year_id);


--
-- Name: fees_feestructure_grade_class_id_85e724dc; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX fees_feestructure_grade_class_id_85e724dc ON public.fees_feestructure USING btree (grade_class_id);


--
-- Name: fees_feestructure_term_id_8b1a43ce; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX fees_feestructure_term_id_8b1a43ce ON public.fees_feestructure USING btree (term_id);


--
-- Name: fees_payment_student_fee_record_id_73ff6445; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX fees_payment_student_fee_record_id_73ff6445 ON public.fees_payment USING btree (student_fee_record_id);


--
-- Name: fees_studentfeerecord_fee_structure_id_1e938350; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX fees_studentfeerecord_fee_structure_id_1e938350 ON public.fees_studentfeerecord USING btree (fee_structure_id);


--
-- Name: fees_studentfeerecord_student_id_2098bb89; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX fees_studentfeerecord_student_id_2098bb89 ON public.fees_studentfeerecord USING btree (student_id);


--
-- Name: student_academicyear_name_513c4b8b_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX student_academicyear_name_513c4b8b_like ON public.student_academicyear USING btree (name varchar_pattern_ops);


--
-- Name: student_gradeclass_staff_id_c10441e2; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX student_gradeclass_staff_id_c10441e2 ON public.student_gradeclass USING btree (staff_id);


--
-- Name: student_studentsubjectrecord_student_term_record_id_04713236; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX student_studentsubjectrecord_student_term_record_id_04713236 ON public.student_studentsubjectrecord USING btree (student_term_record_id);


--
-- Name: student_studentsubjectrecord_subject_id_fde5a1ff; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX student_studentsubjectrecord_subject_id_fde5a1ff ON public.student_studentsubjectrecord USING btree (subject_id);


--
-- Name: student_studenttermrecord_grade_class_id_5574c741; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX student_studenttermrecord_grade_class_id_5574c741 ON public.student_studenttermrecord USING btree (grade_class_id);


--
-- Name: student_studenttermrecord_student_id_616c07de; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX student_studenttermrecord_student_id_616c07de ON public.student_studenttermrecord USING btree (student_id);


--
-- Name: student_studenttermrecord_term_id_5344b2bd; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX student_studenttermrecord_term_id_5344b2bd ON public.student_studenttermrecord USING btree (term_id);


--
-- Name: student_term_academic_year_id_96829419; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX student_term_academic_year_id_96829419 ON public.student_term USING btree (academic_year_id);


--
-- Name: account_user_groups account_user_groups_group_id_6c71f749_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_user_groups
    ADD CONSTRAINT account_user_groups_group_id_6c71f749_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_user_groups account_user_groups_user_id_14345e7b_fk_account_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_user_groups
    ADD CONSTRAINT account_user_groups_user_id_14345e7b_fk_account_user_id FOREIGN KEY (user_id) REFERENCES public.account_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_user_user_permissions account_user_user_pe_permission_id_66c44191_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_user_user_permissions
    ADD CONSTRAINT account_user_user_pe_permission_id_66c44191_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_user_user_permissions account_user_user_pe_user_id_cc42d270_fk_account_u; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_user_user_permissions
    ADD CONSTRAINT account_user_user_pe_user_id_cc42d270_fk_account_u FOREIGN KEY (user_id) REFERENCES public.account_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_account_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_account_user_id FOREIGN KEY (user_id) REFERENCES public.account_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: familyfees_family_members familyfees_family_me_family_id_52091cdf_fk_familyfee; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_family_members
    ADD CONSTRAINT familyfees_family_me_family_id_52091cdf_fk_familyfee FOREIGN KEY (family_id) REFERENCES public.familyfees_family(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: familyfees_family_members familyfees_family_members_user_id_034dcbc4_fk_account_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_family_members
    ADD CONSTRAINT familyfees_family_members_user_id_034dcbc4_fk_account_user_id FOREIGN KEY (user_id) REFERENCES public.account_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: familyfees_familyfeerecord familyfees_familyfee_academic_year_id_c08f0951_fk_student_a; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_familyfeerecord
    ADD CONSTRAINT familyfees_familyfee_academic_year_id_c08f0951_fk_student_a FOREIGN KEY (academic_year_id) REFERENCES public.student_academicyear(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: familyfees_familyfeerecord familyfees_familyfee_family_id_8bbe78ee_fk_familyfee; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_familyfeerecord
    ADD CONSTRAINT familyfees_familyfee_family_id_8bbe78ee_fk_familyfee FOREIGN KEY (family_id) REFERENCES public.familyfees_family(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: familyfees_familyfeerecord familyfees_familyfeerecord_term_id_4a0e76af_fk_student_term_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_familyfeerecord
    ADD CONSTRAINT familyfees_familyfeerecord_term_id_4a0e76af_fk_student_term_id FOREIGN KEY (term_id) REFERENCES public.student_term(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: familyfees_familypayment familyfees_familypay_family_fee_record_id_5a291847_fk_familyfee; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.familyfees_familypayment
    ADD CONSTRAINT familyfees_familypay_family_fee_record_id_5a291847_fk_familyfee FOREIGN KEY (family_fee_record_id) REFERENCES public.familyfees_familyfeerecord(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fees_feestructure fees_feestructure_academic_year_id_730f45dc_fk_student_a; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees_feestructure
    ADD CONSTRAINT fees_feestructure_academic_year_id_730f45dc_fk_student_a FOREIGN KEY (academic_year_id) REFERENCES public.student_academicyear(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fees_feestructure fees_feestructure_grade_class_id_85e724dc_fk_student_g; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees_feestructure
    ADD CONSTRAINT fees_feestructure_grade_class_id_85e724dc_fk_student_g FOREIGN KEY (grade_class_id) REFERENCES public.student_gradeclass(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fees_feestructure fees_feestructure_term_id_8b1a43ce_fk_student_term_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees_feestructure
    ADD CONSTRAINT fees_feestructure_term_id_8b1a43ce_fk_student_term_id FOREIGN KEY (term_id) REFERENCES public.student_term(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fees_payment fees_payment_student_fee_record_i_73ff6445_fk_fees_stud; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees_payment
    ADD CONSTRAINT fees_payment_student_fee_record_i_73ff6445_fk_fees_stud FOREIGN KEY (student_fee_record_id) REFERENCES public.fees_studentfeerecord(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fees_studentfeerecord fees_studentfeerecor_fee_structure_id_1e938350_fk_fees_fees; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees_studentfeerecord
    ADD CONSTRAINT fees_studentfeerecor_fee_structure_id_1e938350_fk_fees_fees FOREIGN KEY (fee_structure_id) REFERENCES public.fees_feestructure(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fees_studentfeerecord fees_studentfeerecor_student_id_2098bb89_fk_student_s; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees_studentfeerecord
    ADD CONSTRAINT fees_studentfeerecor_student_id_2098bb89_fk_student_s FOREIGN KEY (student_id) REFERENCES public.student_studentprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: principal_principalprofile principal_principalprofile_user_id_faf088ff_fk_account_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.principal_principalprofile
    ADD CONSTRAINT principal_principalprofile_user_id_faf088ff_fk_account_user_id FOREIGN KEY (user_id) REFERENCES public.account_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: staff_staffprofile staff_staffprofile_user_id_de1feaad_fk_account_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.staff_staffprofile
    ADD CONSTRAINT staff_staffprofile_user_id_de1feaad_fk_account_user_id FOREIGN KEY (user_id) REFERENCES public.account_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: student_gradeclass student_gradeclass_staff_id_c10441e2_fk_staff_staffprofile_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_gradeclass
    ADD CONSTRAINT student_gradeclass_staff_id_c10441e2_fk_staff_staffprofile_id FOREIGN KEY (staff_id) REFERENCES public.staff_staffprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: student_studentprofile student_studentprofile_user_id_68bc9a36_fk_account_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_studentprofile
    ADD CONSTRAINT student_studentprofile_user_id_68bc9a36_fk_account_user_id FOREIGN KEY (user_id) REFERENCES public.account_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: student_studentsubjectrecord student_studentsubje_student_term_record__04713236_fk_student_s; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_studentsubjectrecord
    ADD CONSTRAINT student_studentsubje_student_term_record__04713236_fk_student_s FOREIGN KEY (student_term_record_id) REFERENCES public.student_studenttermrecord(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: student_studentsubjectrecord student_studentsubje_subject_id_fde5a1ff_fk_student_s; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_studentsubjectrecord
    ADD CONSTRAINT student_studentsubje_subject_id_fde5a1ff_fk_student_s FOREIGN KEY (subject_id) REFERENCES public.student_subject(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: student_studenttermrecord student_studenttermr_grade_class_id_5574c741_fk_student_g; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_studenttermrecord
    ADD CONSTRAINT student_studenttermr_grade_class_id_5574c741_fk_student_g FOREIGN KEY (grade_class_id) REFERENCES public.student_gradeclass(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: student_studenttermrecord student_studenttermr_student_id_616c07de_fk_student_s; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_studenttermrecord
    ADD CONSTRAINT student_studenttermr_student_id_616c07de_fk_student_s FOREIGN KEY (student_id) REFERENCES public.student_studentprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: student_studenttermrecord student_studenttermrecord_term_id_5344b2bd_fk_student_term_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_studenttermrecord
    ADD CONSTRAINT student_studenttermrecord_term_id_5344b2bd_fk_student_term_id FOREIGN KEY (term_id) REFERENCES public.student_term(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: student_term student_term_academic_year_id_96829419_fk_student_a; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_term
    ADD CONSTRAINT student_term_academic_year_id_96829419_fk_student_a FOREIGN KEY (academic_year_id) REFERENCES public.student_academicyear(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict 41pjMoSiEf7WguuUlUrbJMb280RzzYMtRv8960yf2fn1xGvvZRgHwQZnLF9xZUP

